{% extends "base.html" %}

{% block content %}

<div class="row" id="explore">
  {% for post in object_list %}
    <div class="col-xs-4 col-sm-3">
      <div class="picture-square" style="background-image: url(http://{{ request.META.HTTP_HOST }}/{{ post.picture.url }}); background-size: contain;">
        {% if request.user.is_authenticated %}
          <a href="{% url 'post_detail' post.pk %}">
            <div class="content"></div>
          </a>
        {% else %}
          <a href="{% url 'login' %}">
            <div class="content"></div>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}